

///////////////////////////// COLORS /////////////////////////////

//=========================== Dark Mode Elements ===========================
                        $DarkBlue: hsl(209, 23%, 22%);

//=========================== Dark Mode Background ===========================
                        $VeryDarkBlueBG: hsl(207, 26%, 17%);

//=========================== Light Mode Text ===========================
                        $VeryDarkBlue: hsl(200, 15%, 8%);

//=========================== Light Mode Input ===========================
                        $DarkGray: hsl(0, 0%, 52%);

//=========================== Light Mode Background ===========================
                        $VeryLightGray: hsl(0, 0%, 98%);

//================ Dark Mode Text & Light Mode Elements ==========================
                        $White: hsl(0, 0%, 100%);

///////////////////////////// SHADOWS /////////////////////////////
                        $lightShadow: 0px 0px 7px hsla(208, 23%, 22%, 0.445);
                        $darkShadow: 0px 0px 14px hsl(210, 6%, 13%);

///////////////////////////// TEXT SIZE /////////////////////////////
                        $HomepageItems: 14px;
                        $DetailPage: 16px ;


///////////////////////////// FONT FAMILY ///////////////////////////
                        $fontfam: 'Nunito Sans', sans-serif;

///////////////////////////// MEDIA QUERIES ///////////////////////////// 
                        $Mobile: 375px;
                        $Desktop: 1440px;